{{ attach_library('<%= themeNameMachine %/modal') }}

{% if button_text %}
  <!-- Button trigger modal -->
  <button type="button" class="btn {{ modifier }}" data-bs-toggle="modal" data-bs-target="#{{ id }}">
    {{ button_text }}
  </button>
{% endif %}

<div class="modal modal-lg fade" id="{{ id }}" tabindex="-1" aria-labelledby="{{ id }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-2">
      <div class="modal-header pb-0 border-0">
        <h2 class="modal-title fs-4" id="{{ id }}Label">{{ title }}</h2>
        <button type="button" class="btn-close p-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pb-0 fs-6">
        {{ body|raw }}
      </div>
      <div class="modal-footer border-0">
        {% if close_text %}
          <button type="button" class="btn btn-outline-primary me-2" data-bs-dismiss="modal">{{ close_text }}</button>
        {% endif %}
        {% if save_text %}
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ save_text }}</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
