{{ attach_library('<%= themeNameMachine %>/teaser') }}

<div class="teaser {{ modifier }}">
  <div class="row {{ layout == 'right' ? 'flex-lg-row-reverse' : 'flex-lg-row' }} justify-content-around">
    <div class="col-lg-6 col-xxl-5">
      {{ image }}
    </div>
    <div class="col-lg-6 col-xxl-5 pt-6">
      {% if eyebrow %}
        <div class="text-uppercase mb-2">
          {% include '@<%= themeNameMachine %>/badge/badge.twig' with {
              tag: eyebrow,
              modifier: 'text-bg-secondary'
            } only %}
        </div>
      {% endif %}
      {%
        include '@<%= themeNameMachine %>/heading/heading.twig' with {
          "heading": {
            title: title,
            heading_level: '2',
            modifier: ''
          }
        } only
      %}
      <div class="mt-2 mb-5">
        {% if summary %}
          {{ summary }}
        {% endif %}
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        {% if link.url %}
          {% include '@<%= themeNameMachine %>/button/button.twig' with {
            "button": {
              "url": link.url,
              "text": link.text ? link.text : 'Read more'|t,
              "icon": 'arrow_right_alt',
              "modifier": link.modifier
            }
          } only %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
